
<%= form_for(@new_resource, html: {class: "directUpload" }) do |f| %>
  
  <div class="field">
    <%= f.label :resource_url %><br>
    <%= f.file_field :resource_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <script>
  
      $(function() {
          var MAX_LIMIT_FOR_FILE = 4000000;
          $('.directUpload').find("input:file").each(function(i, elem) {
              var fileInput    = $(elem);
              var form         = $(fileInput.parents('form:first'));
              var submitButton = form.find('input[type="submit"]');
              var progressBar  = $("<div class='bar'></div>");
              var browseButton = form.find('#user_avatar_url');
              var barContainer = $("<div class='progress'></div>").append(progressBar);
    
              fileInput.after(barContainer);
              fileInput.fileupload({
              fileInput:       fileInput,
              url:             '<%= @s3_direct_post.url %>',
              type:            'POST',
              autoUpload:       true,
              formData:         <%= @s3_direct_post.fields.to_json.html_safe %>,
              paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
              dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
              replaceFileInput: false,
              add: function(e, data){
                  if (data.originalFiles[0].size > MAX_LIMIT_FOR_FILE){
                      progressBar.
                          css('background', 'red').
                          css('display', 'block').
                          css('width', '100%').
                          text("File too big. 4MB file limit!");
                      submitButton.prop('disabled', true);
                  }
                 else{
                    // get the size of the file and extract it too
                    var size = data.originalFiles[0].size;
                    var added = $("<input />", { type:'hidden', name: "user_resource[resource_size]", value: size} );
                    form.append(added);
                    var file_name = (data.originalFiles[0].name);
                    var added = $("<input />", { type:'hidden', name: "user_resource[resource_name]", value: file_name} );
                    form.append(added);
                    
                    browseButton.prop('disabled', true);
                    if (data.autoUpload || (data.autoUpload !== false &&
                        $(this).fileupload('option', 'autoUpload'))) {
                            data.process().done(function () {
                            data.submit();
                        });
                    }
                  }
              },
              progressall: function (e, data) {
                  var progress = parseInt(data.loaded / data.total * 100, 10);
                  progressBar.css('width', progress + '%')
              },
              start: function (e) {
                  submitButton.prop('disabled', true);

                  progressBar.
                      css('background', 'green').
                      css('display', 'block').
                      css('width', '0%').
                      text("Loading...");
              },
              done: function(e, data) {
                  submitButton.prop('disabled', false);
                  progressBar.text("Uploading done");

                  // extract key and generate URL from response
                  var key   = $(data.jqXHR.responseXML).find("Key").text();
                  var url   = '//<%= @s3_direct_post.url.host %>/' + key;
 
                  // create hidden field
                  var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: url } );
                  form.append(input);
              },
              fail: function(e, data) {
                  submitButton.prop('disabled', false);

                  progressBar.
                      css("background", "red").
                      text("Failed");
              }
            });
          });
      });
  </script>
<% end %>
